body{
    background-color: #73717a
}
.a{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    display: inline-block;
    height: 155px;
    width: 100px;
    /* background-color: #f7500e; */

}

.b{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    display: inline-block;
    height: 155px;
    width: 100px;
    /* background-color: #f7500e;    */
}

.c{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    display: inline-block;
    height: 155px;
    width: 100px;
    /* background-color: #f7500e; */
}
#main{
    /* margin-left: 10%; */
    margin-top: 10px;
    background-color: #929090;
    width: 100%;
    height: 100%;

}
.Game_form {
    margin-top: 20px;
    margin-left: 10px;
}
.inner{
    padding-top: 20px;
    margin-left: 0px;
    background-color: #2a224d;
    font-size: 20px;   
}
/* .btn {
    margin-left: 10px;
    
    background-color: #4CAF50; 
    border: 5px;
    color: white;
    text-align: center;
    text-decoration: none;

} */
.jumbotron
{
    height: 150px;
}

@media screen and (max-width:1340px){
    body{
        background-color: #73717a
    }
    .a{
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 10px;
        display: inline-block;
        height: 155px;
        width: 100px;
        /* background-color: #f7500e; */
    
    }
    
    .b{
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 10px;
        display: inline-block;
        height: 155px;
        width: 100px;
        /* background-color: #f7500e;    */
    }
    
    .c{
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 10px;
        display: inline-block;
        height: 155px;
        width: 100px;
        /* background-color: #f7500e; */
    }
    #main{
        /* margin-left: 10%; */
        margin-top: 10px;
        background-color: #929090;
        width: 100%;
        height: 100%;
    
    }
    .Game_form {
        margin-top: 20px;
        margin-left: 10px;
    }
    .inner{
        padding-top: 20px;
        margin-left: 0px;
        background-color: #2a224d;
        font-size: 20px;   
    }
    /* .btn {
        margin-left: 10px;
        
        background-color: #4CAF50; 
        border: 5px;
        color: white;
        text-align: center;
        text-decoration: none;
    
    } */
    .jumbotron
    {
        height: 150px;
    }
}
@media screen and (max-width:420px) {
    .a{
        width:25%;
        margin-left: 5%

        /* background-color: #f7500e; */
    
    }
    
    .b{
        width:25%;
        margin-left: 5%;

        /* background-color: #f7500e;    */
    }
    
    .c{
        width:25%;
        margin-left: 5%;
        margin-right: 5%;
        
    }
    #main{
        width: 100%;
    
    }
    .Game_form {
        margin-top: 20px;
        margin-left: 10px;
        width: 100%;
    }
    .inner{
        width: 100%;
        padding-top: 20px;
        margin-left: 0px;
        background-color: #2a224d;
        font-size: 20px;   
    }
}
